# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\ANTO\Desktop\Java-Basic-Tutorials-251c99e72103410d8c4b97532a51e4ed55d8345d\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
